body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

.page-loading {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
    background: #000000b3;
    .loading-box {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        box-shadow: $card-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $back-color;
    }
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 1360px) {
        margin-right: 20px;
        margin-left: 20px;
        max-width: calc(100% - 64px);
    }
    @media (max-width: 762px) {
        margin-right: 16px;
        margin-left: 16px;
        max-width: calc(100% - 32px);
        .header-left img {
            height: 62px;
        }
    }
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(4px);
    @media (max-width: 992px) {
        position: absolute;
    }
}
.header-content {
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-center {
        ul {
            list-style: none;
            display: flex;
            li {
                margin-right: 15px;
                margin-left: 15px;
                a {
                    padding: 20px 15px;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $font-main;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                    transition: all 0.3s;
                    &.active {
                        color: #8873ff;
                    }
                    &:hover {
                        color: #8873ff;
                    }
                }
            }
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    .header-right {
        display: flex;
        align-items: center;

        @media (max-width: 1400px) {
        }
        @media (max-width: 992px) {
            margin-right: 0;
        }
    }
    @media (max-width: 576px) {
        flex-direction: column;
    }
}
.social-link {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 50px;
        transition: all 0.3s;
        @media (max-width: 576px) {
            height: 30px;
        }
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        img {
            filter: brightness(0.8);
        }
    }
}
.header-wallet {
    right: 23px;
    top: 38px;
    display: flex;
    @media (max-width: 992px) {
        display: flex;
        align-items: center;
        .mobile-menu {
            margin-left: 16px;
            z-index: 100;
        }
    }
}
main {
    background-color: #0f172a;
    min-height: 100vh;
    padding-top: 174px;
}
button {
    cursor: pointer;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col-12 {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.col-half {
    width: calc(50% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.col-3 {
    width: calc(25% - 30px);
    margin-right: 15px;
    margin-left: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.pb-80 {
    padding-bottom: 80px;
}
.mobile-menu {
    display: none;
}
.mobile-nav {
    display: none;
    @media (max-width: 992px) {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                a {
                    font-family: $font-second;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff3 !important;
}
.MuiSelect-select {
    color: #fff !important;
    font-family: $font-second !important;
}
.MuiSelect-icon {
    color: #fff3 !important;
}
.MuiTouchRipple-root {
    font-family: $font-second !important;
}
.MuiRadio-root {
    .MuiSvgIcon-root {
        fill: #fff !important;
    }
}
.MuiTypography-root {
    font-family: $font-main !important;
}
.MuiFormGroup-root {
    min-height: 56px !important;
}
.winner-address {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
}
.copy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    .copied {
        color: $primary-color;
        font-weight: bold;
    }
}
.btn-claim-all {
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    width: 173px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
    }
    .content {
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
        padding: 4px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 8px);
        border-radius: 9px;
    }
    &:hover {
        .content {
            background: #0f172a;
        }
    }
    &:disabled {
        .content {
            background: #0f172a;
            &.loading-content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
        cursor: no-drop !important;
        pointer-events: none;
    }
}

.btn-primary {
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    width: 150px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
    }
    .content {
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
        padding: 6.5px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 8px);
        border-radius: 9px;
    }
    &:hover {
        .content {
            background: #0f1e45;
        }
    }
    &:disabled {
        cursor: no-drop !important;
    }
}

.btn-secondary {
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    width: 150px;
    border: none;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
    }
    .content {
        background: #222a3f;
        padding: 6.5px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 8px);
        border-radius: 15px;
    }
    &:hover {
        .content {
            background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
        }
    }
    &:disabled {
        pointer-events: none;
        cursor: no-drop !important;
    }
}

.btn-third {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 5px;
    font-weight: 400;
    font-size: 10px;
    width: 64px;
    line-height: 18px;
    color: #fff;
    border: none;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
    }
    &:disabled {
        pointer-events: none !important;
    }
    .content {
        background: #222a3f;
        padding: 6px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 2px);
        border-radius: 4px;
        height: 16px;
    }
    &:hover {
        .content {
            background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
        }
    }
    &:last-child {
        width: 51px;
        margin-left: 10px;
    }
    &:disabled {
        pointer-events: none;
        cursor: no-drop !important;
    }
}
.staked-card-action {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.collection-box {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
    color: #fff;
    margin-top: 40px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
    }
    .box-body {
        background: linear-gradient(104.73deg, #293654 0%, #222a3f 52.57%, #1d2b4e 100%);
        padding: 22px 20px;
        border-radius: 9px;
        .box-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            h3.title {
                font-weight: 600;
                font-size: 24px;
                line-height: 1.5;
                color: #ffffff;
                @media (max-width: 992px) {
                    font-size: 20px;
                }
            }
            .button-group {
                display: flex;
                align-items: center;
                button {
                    margin-left: 32px;
                    @media (max-width: 992px) {
                        margin-left: 12px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                .button-group {
                    margin-top: 10px;
                }
            }
        }
        .box-content {
            display: flex;
            gap: 11px;
            flex-wrap: wrap;
            margin-top: 24px;
        }
        p.notice {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #f900ef;
            max-width: 880px;
            margin-right: auto;
            margin-left: auto;
            padding-bottom: 50px;
            padding-top: 30px;
            @media (max-width: 992px) {
                font-size: 20px;
            }
        }
    }
}
.nft-card {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
    color: #fff;
    // width: calc(100% / 8 - 10px);
    width: 150px;
    min-height: 232px;
    cursor: pointer;

    .nft-card-content {
        // background: linear-gradient(104.73deg, #293654 0%, #222a3f 52.57%, #1d2b4e 100%);
        padding: 6px;
        border-radius: 9px;
        height: calc(100% - 12px);
        .media {
            height: 158px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
        }
        .card-content {
            margin-top: 8px;
            padding: 0 6px;
            p.nft-name {
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
            }
            p.staked-text {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    &.selected {
        img {
            box-shadow: 2px 2px 0 #faff00, -2px -2px 0 #faff00, 2px -2px 0 #faff00, -2px 2px 0 #faff00;
        }
    }
    &.staked {
        .nft-card-content {
            background: transparent;
        }
    }
}
.landing-page {
    padding: 40px 56px;
    background: linear-gradient(107.56deg, #0f1e41 0%, #1e163f 100%);
    @media (max-width: 768px) {
        padding: 0;
    }
}
.landing-content {
    border-radius: 30px;
    position: relative;
    .content {
        border-radius: 30px;
        // background: linear-gradient(104.73deg, #293654 0%, #222a3f 52.57%, #1d2b4e 100%);
        position: relative;
        // width: calc(100% - 112px);
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            margin: -1px;
            border-radius: inherit;
            background: linear-gradient(90deg, #004af9 0%, #db00ff 100%);
            @media (max-width: 768px) {
                display: none;
            }
        }

        .sub-content {
            background: linear-gradient(109.07deg, #4c5771 0%, #3e385b 100%);
            position: relative;
            z-index: 2;
            padding: 25px;
            border-radius: 30px;
            height: calc(100vh - 130px);
            .landing-image {
                border-radius: 13px;
                width: 100%;
                object-fit: cover;
                height: calc(100vh - 130px);
                @media (max-width: 768px) {
                    border-radius: 0;
                    height: 100vh;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                margin: 24px;
                border-radius: 13px;
                background: linear-gradient(90deg, #004af9 0%, #db00ff 100%);
                @media (max-width: 768px) {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                padding: 0;
            }
            .image-content {
                position: relative;
                z-index: 3;
                display: flex;
                align-items: center;
            }
        }
    }
    .main-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img.landing-logo {
            height: 73px;
            @media (max-width: 420px) {
                height: auto;
                width: 100%;
            }
        }
        h1 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.5;
            text-align: center;
            padding-top: 0px;
            padding-bottom: 0;
            color: #ffffff;
            max-width: 620px;
            min-width: 400px;
            @media (max-width: 500px) {
                max-width: auto;
                min-width: auto;
                font-size: 28px;
            }
        }
        .div-p {
            position: relative;
            span {
                position: absolute;
                top: 0%;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #004af9 0%, #db00ff 100%);
            }
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            color: #ffffff;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }
}
.intro-box {
    border-radius: 8px;
    text-align: center;
    border: 1px solid #f900ef;
    padding: 30px 64px 40px;

    .connect-wallet {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -24px;
        @media (max-width: 500px) {
            bottom: auto;
        }
    }
    @media (max-width: 500px) {
        padding: 0;
        border: none;
        width: calc(100vw - 60px);
    }
}
.total-values-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    .total-intro-items {
        text-align: center;
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.2;
            @media (max-width: 500px) {
                font-size: 16px;
            }
        }
        h4 {
            font-weight: 700;
            font-size: 28px;
            line-height: 1.25;
            text-align: center;
            color: #f900ef;
            @media (max-width: 500px) {
                font-size: 24px;
            }
        }
    }
}
.box-title {
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    border: none;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(93.13deg, #004af9 0%, #db00ff 100%);
        @media (max-width: 1240px) {
            display: none;
        }
    }
    .content {
        background: #222a3f;
        padding: 4px 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 8px);
        border-radius: 15px;
        @media (max-width: 1240px) {
            padding: 4px 0;
            background-color: transparent;
        }
    }
}
.staked-collectionbox {
    .box-body {
        .box-header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .button-group {
                position: absolute;
                right: 0;
                @media (max-width: 768px) {
                    position: relative;
                }
            }

            @media (max-width: 1240px) {
                justify-content: space-between;
            }
            @media (max-width: 768px) {
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }
}
.nft-plus {
    margin: 20px;
}
.dual-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    position: relative;
    .dual-box-content {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
    @media (max-width: 1080px) {
        justify-content: start;
    }
    @media (max-width: 436px) {
        flex-direction: column;
    }
}
.isdual-card {
    position: relative;
    .clear-btn {
        position: absolute;
        right: 16px;
        top: 16px;
        border: none;
        background-color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0;
        display: none;
        z-index: 3;
    }
    &:hover {
        .clear-btn {
            display: block;
        }
    }
}
.dual-card {
    padding: 10px;
    border: 1px solid #d701fe;
    border-radius: 12px;
    .dual-card-image {
        img {
            width: 160px;
            height: 160px;
            border-radius: 8px;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &:hover {
        box-shadow: 0 0 20px #d701fe;
    }
    position: relative;
}
.dialog-listed-box {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding: 12px;
}
.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #fff;
        border-radius: 8px;
    }
}
.dialog-nft-card {
    padding: 8px;
    border-radius: 8px;
    img {
        width: 112px;
        height: 112px;
        border-radius: 8px;
        object-fit: cover;
    }
    color: #fff;
    p {
        font-size: 12px;
    }
    // margin-bottom: 10px;
    &:hover {
        box-shadow: 0 0 10px #db00ff;
    }
    &.current {
        background-color: #db00ff;
    }
}

.modaltitle {
    color: #fff;
}

.card-temp-content {
    color: #fff;
    height: 42px;
    h5 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
}

// Dual staking card
.dual-staked-box-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
    }
}
.dual-staked-card {
    width: calc(50% - 40px);
    display: flex;

    .dual-medias {
        display: flex;
        background: linear-gradient(180deg, rgba(18, 63, 181, 0.5) 0%, rgba(219, 0, 255, 0.5) 100%);
        border-radius: 15px;
        padding: 15px;
        img {
            width: 140px;
            border-radius: 8px;
            &:first-child {
                margin-right: 8px;
            }
            &:last-child {
                margin-left: 8px;
            }
        }
    }
    .dual-staked-content {
        margin-left: 20px;
        width: 180px;
        padding: 15px 0;
    }
    @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        .dual-medias {
            justify-content: center;
            img {
                width: calc(50% - 10px);
            }
        }
    }
}
.preview-staking {
    position: absolute;
    border: 1px solid #d701fe;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    right: 50px;
    width: 180px;
    @media (max-width: 1080px) {
        right: 0;
        width: 140px;
    }
    @media (max-width: 436px) {
        margin-top: 20px;
        position: relative;
    }
}

@media (max-width: 576px) {
    .collection-box .box-body .box-header .button-group {
        flex-wrap: wrap;
        button {
            margin-left: 0;
            &:last-child {
                margin-top: 15px;
            }
        }
    }
}
